name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build a Docker container image using the Dockerfile
      run: make build

    - name: Run a Docker container to build the COEN ISO image
      run: make run

    - name: Copy the resultant COEN ISO image from the Docker container into the host directory
      run: make copy
